{:itonami.blueprint/id "cloud-itonami-8020"
 :itonami.blueprint/name "Community Security Systems Service Operations"
 :itonami.blueprint/isic-rev5 "8020"
 :itonami.blueprint/domain :commercial/security-systems-services
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:public-safety :crime-deterrence :accountability]
 :itonami.blueprint/governor :security-systems-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :labor]
 :itonami.blueprint/optional-technologies [:optimization]
 :itonami.blueprint/status :public-oss}
