{:kotoba.app/id "cloud.itonami.isic-8020", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifpfjfoa6kb54pwf4a4jfdflat2362psibov477byeufjpngvsudq", :kotoba.app/embed-url "ipfs://bafkreifpfjfoa6kb54pwf4a4jfdflat2362psibov477byeufjpngvsudq", :published {:archive "https://kotobase.net/ipfs/bafkreifpfjfoa6kb54pwf4a4jfdflat2362psibov477byeufjpngvsudq", :size 5800, :put-status 201, :get-status 200, :at "2026-08-15T13:46:19.519Z"}}
